@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.eot'),
  url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.eot'),
  url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.eot'),
  url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}


@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Mancope/Manrope-ExtraBold.eot'),
  url('../fonts/Mancope/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mancope/Manrope-ExtraBold.woff2') format('woff2'),
  url('../fonts/Mancope/Manrope-ExtraBold.woff') format('woff'),
  url('../fonts/Mancope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}







