.header-wrapp {
  position: fixed;
  min-height: 94px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: $white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.header {
  min-height: 94px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0;
  &__logo {
    width: 99px;
    height: 53px;
    @media(max-width: $container-xs) {
      width: 56px;
      height: 30px;
    }
  }
  &__img {
    width: 99px;
    height: 53px;
    @media(max-width: $container-xs) {
      width: 56px;
      height: 30px;
    }
  }
}
