.promo-section {
  position: relative;
  overflow: hidden;
  padding: 36px 0;
  margin-top: 1px;
  background: linear-gradient(119.57deg, #5D59FF 5.26%, #240071 90.07%);
  &:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    width: 40px;
    height: 40px;
    background: linear-gradient(105.83deg, #5A92FF 13.52%, #7000FF 88.92%);
    border-radius: 3px;
    transform: translateX(-50%) rotate(45deg);
    z-index: 2;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 52px;
    color: $white;
  }
}

.promo-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 85px;
}
.promo-list {
  width: 32%;
  &__item {
    margin-bottom: 15px;
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $white;
  }
}
.promo-box {
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 24%;
    margin-bottom: 40px;
  }
}
.promo-box__pic {
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
  //cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 27px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(180deg, #5AFFD7 0%, #6E68FF 100%);
    z-index: 1;
    transition: all .3s ease-in-out;
  }
  &:hover::before {
    background: linear-gradient(180deg, #EF7D00 0%, #FF2358 100%);
  }
}
.promo-box__icon {
  position: relative;
  z-index: 2;
  width: 70px;
  height: 50px;
}

.promo-box__content {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $white;
}
