.screen-1 {
  padding: 36px 0;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 884px;
    height: 884px;
    top: -442px;
    right: -442px;
    background: $green;
    border-radius: 50%;
    z-index: -1;
    @media(min-width: $lg) {
      width: 1364px;
      height: 1364px;
      top: -682px;
      right: -682px;
    }
    @media(max-width: $container-md) {
      width: 484px;
      height: 484px;
      top: -242px;
      right: -242px;
    }
    @media(max-width: $container-xs) {
      width: 638px;
      height: 638px;
      top: -319px;
      right: -319px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 622px;
    height: 622px;
    top: -311px;
    right: -311px;
    background: #6E68FF;
    border-radius: 50%;
    z-index: -1;
    @media(min-width: $lg) {
      width: 958px;
      height: 958px;
      top: -479px;
      right: -479px;
    }
    @media(max-width: $container-md) {
      width: 340px;
      height: 340px;
      top: -170px;
      right: -170px;
    }
    @media(max-width: $container-xs) {
      width: 448px;
      height: 448px;
      top: -224px;
      right: -224px;
    }
  }
}
.content-box {
  display: flex;
  justify-content: space-between;
  @media(max-width: $xs) {
    flex-wrap: wrap;
  }
  &__item {
    &--video {
      position: relative;
      width: 60%;
      height: 651px;
    }
    &--content {
      width: 40%;
      max-width: 390px;
      min-height: 651px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.content-box__desc {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 22px;
}
.content-box__small {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 55px;
}
.content-box__text {
  position: relative;
  display: flex;
  align-items: center;
}
.content-box__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  svg {
    width: 30px;
    height: 100%;
  }
}
.content-box__btn {
  margin-bottom: 22px;
}
.content-box__copy {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}
