.section-steps {
  position: relative;

  height: 100vh;
  overflow: hidden;
  padding-top: 132px;
  padding-bottom: 81px;

  background: linear-gradient(90.92deg, #07134F 0.68%, #3A0085 99.19%);

  &::before {
    content: "";
    position: absolute;
    width: 398px;
    height: 398px;
    top: -199px;
    right: -199px;
    //top: -220px;
    //right: -220px;
    //width: 440px;
    //height: 440px;
    background: $green;
    border-radius: 50%;
    //z-index: -1;
    @media(max-width: $container-xs) {
      width: 638px;
      height: 638px;
      top: -319px;
      right: -319px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    top: -140px;
    right: -140px;
    //top: -155px;
    //right: -155px;
    //width: 310px;
    //height: 310px;
    background: #5A92FF;
    border-radius: 50%;
    z-index: 1;
    @media(max-width: $container-xs) {
      width: 448px;
      height: 448px;
      top: -224px;
      right: -224px;
    }
  }
}
