.section-steps {
  position: relative;
  overflow: hidden;
  padding-top: 132px;
  padding-bottom: 81px;



  &::before {
    content: "";
    position: absolute;
    width: 398px;
    height: 398px;
    top: -199px;
    right: -199px;
    background: $green;
    border-radius: 50%;
    @media(min-width: $lg) {
      width: 878px;
      height: 878px;
      top: -439px;
      right: -439px;
    }
    @media(max-width: $container-xs) {
      width: 638px;
      height: 638px;
      top: -319px;
      right: -319px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    top: -140px;
    right: -140px;
    background: #5A92FF;
    border-radius: 50%;
    z-index: 1;
    @media(min-width: $lg) {
      width: 618px;
      height: 618px;
      top: -309px;
      right: -309px;
    }
    @media(max-width: $container-xs) {
      width: 448px;
      height: 448px;
      top: -224px;
      right: -224px;
    }
  }
}

.section__title--steps {
  margin-bottom: 76px;
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  &:before {
    content: "";
    position: absolute;
    top: 46px;
    right: 0;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid $white;
  }
  &:after {
    content: "";
    position: absolute;
    top: 52px;
    right: 6px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $white;
  }
  &__item {
    position: relative;
    width: 25%;
  }

  &__date {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: $white;
    margin-bottom: 24px;
  }
  &__small {
    display: block;
    width: 0;
    opacity: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: $red;
  }
  &__count {
    font-weight: 900;
    font-size: 144px;
    letter-spacing: 0.05em;
    color: $dark-purpur;
  }
  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: $white;
    &--blue {
      color: $blue;
      margin-bottom: 0;
    }
  }
}

.steps__item--active {
  .steps__date {
    color: $red;
    margin-bottom: 17px;
  }
  .steps__small {
    width: auto;
    opacity: 1;
  }
  .steps__count {
    color: $red;
  }
}
.steps__item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 27px;
    width: calc(100% - 27px);
    height: 1px;
    background: $white;
  }
}


.steps__head {
  position: relative;
  height: 60px;
  &:before {
    content: "";
    position: absolute;
    top: 46px;
    left: 0;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid $white;
  }
  &:after {
    content: "";
    position: absolute;
    top: 52px;
    left: 6px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $white;
  }
}
.steps__item--active {
  margin-top: -35px;
  &:before {
    top: 95px;
  }
  .steps__body {
    margin-top: 35px;
  }
  .steps__head {
    &:before {
      top: 82px;
    }
    &:after {
      top: 88px;
    }
  }
}
.steps__footer {
  margin-top: -55px;
}

.steps__item:last-child {
  margin-right: 27px;
}

.steps__item--active {
  &:after {
    content: "";
    position: absolute;
    top: 38px;
    left: -46px;
    width: 122px;
    height: 122px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(171, 0, 41, 0.8) 0%, rgba(255, 0, 61, 0) 100%);
  }
}
