.section-steps {
  position: relative;

  height: 100vh;
  overflow: hidden;
  padding-top: 132px;
  padding-bottom: 81px;

  background: linear-gradient(90.92deg, #07134F 0.68%, #3A0085 99.19%);

  &::before {
    content: "";
    position: absolute;
    width: 398px;
    height: 398px;
    top: -199px;
    right: -199px;
    //top: -220px;
    //right: -220px;
    //width: 440px;
    //height: 440px;
    background: $green;
    border-radius: 50%;
    //z-index: -1;
    @media(max-width: $container-xs) {
      width: 638px;
      height: 638px;
      top: -319px;
      right: -319px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    top: -140px;
    right: -140px;
    //top: -155px;
    //right: -155px;
    //width: 310px;
    //height: 310px;
    background: #5A92FF;
    border-radius: 50%;
    z-index: 1;
    @media(max-width: $container-xs) {
      width: 448px;
      height: 448px;
      top: -224px;
      right: -224px;
    }
  }
}

.section__title--steps {
  margin-bottom: 76px;
}

.steps {
  display: flex;
  justify-content: space-between;
  &__item {
    position: relative;
    width: 24.5%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--active {
      margin-top: -35px;
    }
  }

  &__date {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: $white;
    margin-bottom: 24px;
  }
  &__small {
    display: block;
    width: 0;
    opacity: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: $red;
  }
  &__count {
    font-weight: 900;
    font-size: 144px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: $dark-purpur;
  }
  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: $white;
    &--blue {
      color: $blue;
      margin-bottom: 0;
    }
  }
}

.steps__item--active {
  .steps__date {
    color: $red;
    margin-bottom: 17px;
  }
  .steps__small {
    width: auto;
    opacity: 1;
  }
  .steps__count {
    color: $red;
  }
  //.steps__desc {
  //  color: $white;
  //  &--blue {
  //    color: $white;
  //  }
  //}
}

//.steps__footer {
//  position: absolute;
//  left: 0;
//  bottom: 30px;
//  width: 100%;
//}
