$base_font: 'Montserrat';

$white: #FFFFFF;
$black: #000000;
$green: #5AFFD7;
$purpur: #6E68FF;
$dark-purpur: #5200D8;
$blue: #5A92FF;
$gray: #B7B7B7;
$red: #FF2358;

$container: 1140px;
$container-md: 1024px;
$container-sm: 991px;
$container-xs: 420px;

