.footer
    .container
        .footer-box.footer-box--top
            .footer-box__item.footer-box__item--small-width
                a.footer-box__link.footer-box__link--logo(href="#")
                    svg.footer-box__logo
                        use(xlink:href="img/svg/sprite.svg#logo-white")
                p.footer-box__name Организатор АНО Центр развития информационных технологий «ИТ-Планета»
            .footer-box__item.footer-box__item--width
                .footer-box
                    .footer-box__item
                        h4.footer-box__title Карта сайта
                        ul.footer-list
                            li.footer-list__item
                                a.footer-list__link(href="") Об олимпиаде
                            li.footer-list__item
                                a.footer-list__link(href="") Этапы
                            li.footer-list__item
                                a.footer-list__link(href="") Направления
                            li.footer-list__item
                                a.footer-list__link(href="") Участники
                            li.footer-list__item
                                a.footer-list__link(href="") Возможности
                            li.footer-list__item
                                a.footer-list__link(href="") Партнеры
                            li.footer-list__item
                                a.footer-list__link(href="") Новости
                    .footer-box__item
                        h4.footer-box__title Контакты
                        ul.footer-list
                            li.footer-list__item
                                p.footer-list__subtitle Оргкомитет:
                                a.footer-list__link(href="mailto:info@world-it-planet.org") info@world-it-planet.org
                                a.footer-list__link(href="tel:+74997033949") +7 (499) 703-39-49
                    .footer-box__item
                        h4.footer-box__title Пресс-центр
                        ul.footer-list
                            li.footer-list__item
                                a.footer-list__link(href="") Презентация Олимпиады
                            li.footer-list__item
                                a.footer-list__link(href="") Положение Олимпиады
                            li.footer-list__item
                                    a.footer-list__link(href="") Пресс-релиз
                            li.footer-list__item
                                a.footer-list__link(href="") Маркетинговые материалы


        .footer-box.footer-box--bottom
            .footer-box__item.footer-box__item--small-width
                ul.footer-list-doc
                    li.footer-list-doc__item «IT-Планета 2020/21»
                    li.footer-list-doc__item
                        a.footer-list-doc__link(href="#") Положение о соревнованиях
                    li.footer-list-doc__item
                        a.footer-list-doc__link(href="#") Политика конфиденциальности
            .footer-box__item.footer-box__item--width
                p.footer-box__text-bottom Автономная некоммерческая организация «Центр развития информационных технологий «ИТ-Планета», ИНН 2308980846, ОГРН 1122300005431, которая зарегистрирована 22.10.2012 года по адресу: 350004, Россия, Краснодарский край, город Краснодар, улица Северная, 286, оф 204.



script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/fancybox/jquery.fancybox.min.js")
script(src="libs/maskedinput/jquery.maskedinput.min.js")
script(src="js/common.js")
