.footer
    .container
        .footer-box.footer-box--top
            .footer-box__item.footer-box__item--small-width
                a.footer-box__link.footer-box__link--logo(href="index.html")
                    svg.footer-box__logo
                        use(xlink:href="img/svg/sprite.svg#logo-white")
                p.footer-box__name Организатор АНО Центр развития информационных технологий «ИТ-Планета»
            .footer-box__item.footer-box__item--width
                .footer-box
                    .footer-box__item
                        h4.footer-box__title Карта сайта
                        ul.footer-list
                            li.footer-list__item
                                a.footer-list__link(href="#screen-1") Об олимпиаде
                            li.footer-list__item
                                a.footer-list__link(href="#steps") Этапы
                            li.footer-list__item
                                a.footer-list__link(href="#directions") Направления
                            li.footer-list__item
                                a.footer-list__link(href="#participants") Участники
                            li.footer-list__item
                                a.footer-list__link(href="#possibility") Возможности
                            li.footer-list__item
                                a.footer-list__link(href="#leaders") Партнеры

                    .footer-box__item
                        h4.footer-box__title Контакты
                        ul.footer-list.footer-list--social
                            li.footer-list__item
                                p.footer-list__subtitle Оргкомитет:
                                p.footer-list__link info@world-it-planet.org
                                p.footer-list__link +7 (499) 703-39-49
                            li.footer-list__item
                                p.footer-list__subtitle Для партнеров:
                                p.footer-list__link n.shabaev@world-it-planet.org
                                p.footer-list__link +7 (983) 153-71-77
                            li.footer-list__item
                                p.footer-list__subtitle Для прессы:
                                p.footer-list__link g.fedorovich@world-it-planet.org
                                p.footer-list__link +7 (918) 151-83-34
                    .footer-box__item
                        h4.footer-box__title Пресс-центр
                        ul.footer-list
                            li.footer-list__item
                                a.footer-list__link(href="") Презентация Олимпиады
                            li.footer-list__item
                                a.footer-list__link(href="") Положение Олимпиады



        .footer-box.footer-box--bottom
            .footer-box__item.footer-box__item--small-width
                ul.footer-list-doc
                    li.footer-list-doc__item «IT-Планета 2020/21»
                    li.footer-list-doc__item
                        a.footer-list-doc__link(href="#") Положение о соревнованиях

            //.footer-box__item.footer-box__item--width
                p.footer-box__text-bottom Автономная некоммерческая организация «Центр развития информационных технологий «ИТ-Планета», ИНН 2308980846, ОГРН 1122300005431, которая зарегистрирована 22.10.2012 года по адресу: 350004, Россия, Краснодарский край, город Краснодар, улица Северная, 286, оф 204.



script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/fancybox/jquery.fancybox.min.js")
script(src="libs/maskedinput/jquery.maskedinput.min.js")
script(src="js/common.js")
