.header-wrapp
    .container
        header.header
            a(href="index.html").header__logo
                svg.header__img
                    use(xlink:href="img/svg/sprite.svg#logo")
            .burger
                span
                span
                span
            nav.nav
                ul.nav-list
                    li.nav-list__item
                        a(href="#history").nav-list__link История
                    li.nav-list__item
                        a(href="#directions").nav-list__link Формат
                    li.nav-list__item
                        a(href="#new-format").nav-list__link Направления
                    li.nav-list__item
                        a(href="#steps").nav-list__link Этапы
                    li.nav-list__item
                        a(href="#participants").nav-list__link Участники
                    li.nav-list__item
                        a(href="#possibility").nav-list__link Возможности
                    li.nav-list__item
                        a(href="#leaders").nav-list__link Лидеры
