.container
    .history
        .history__item.history__item--content
            h2.history__title История в цифрах
            p.history__text Наша цель - поддержка и дальнейшее трудоустройство талантливых студентов и молодых специалистов в сфере информационных технологий.
        .history__item.history__item--video
            a.history__link(data-fancybox='' href='https://www.youtube.com/embed/oDhDAE8oei0&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"')
                img(src="img/bg-vid.png" alt="")
                span.history__icon
                    svg.history__icon-svg
                        use(xlink:href="img/svg/sprite.svg#play")

