.container
    .history
        .history__item.history__item--content
            h2.history__title История в цифрах
            ul.history-list
                li.history-list__item
                    span.history-list__count 13
                    p.history-list__desc лет </br> проведения
                li.history-list__item
                    span.history-list__count 15
                    p.history-list__desc стран </br> участниц
                li.history-list__item
                    span.history-list__count 100 +
                    p.history-list__desc.history-list__desc-center партнеров
                li.history-list__item
                    span.history-list__count 130 +
                    p.history-list__desc тысяч </br> участников
            p.history__text Наша цель - поддержка и дальнейшее трудоустройство талантливых студентов и молодых специалистов в сфере информационных технологий.
        .history__item.history__item--video
            a.history__link(data-fancybox='' href='https://www.youtube.com/embed/oDhDAE8oei0&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"')
                //img.history__image(src="img/bg-vid.png" alt="")
                .history__box
                    svg.history__icon-svg
                        use(xlink:href="img/svg/sprite.svg#play")
                    .history__video-text
                        p.history__video-desc Посмотрите видео Финала прошлых лет.
                        p.history__video-small Больше видео на нашем канале

