section.section.section-leaders
    .container
        h2#leaders.section__title.section__title--white.section__title--leaders Лидеры Олимпиады 2007-2020
        ul.leaders-list
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-1.png" alt="")
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-2.png" alt="")
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-3.png" alt="")
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-4.png" alt="")
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-5.png" alt="")
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-6.png" alt="")
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-7.png" alt="")
            li.leaders-list__item
                img.leaders-list__pic(src="img/leaders-8.png" alt="")

