section.new-format-wrapp
    .container
        .new-format
            .new-format__item
                h2.new-format__title Новый формат
                p.new-format__desc В этом году олимпиада проходит на платформе инновационных соревнований Braim, которая объединяет студентов, разработчиков и стартапы с крупнейшими брендами.
            .new-format__item.new-format__item--img
                svg.new-format__icon
                    use(xlink:href="img/svg/sprite.svg#braim")
        .new-format-bottom#directions
            h2.new-format__title.new-format__title--bottom Направления соревнований
            ul.format-list
                li.format-list__item
                    svg.format-list__icon
                        use(xlink:href="img/svg/sprite.svg#checkbox")
                    p.format-list__text новые знания
                li.format-list__item
                    svg.format-list__icon
                        use(xlink:href="img/svg/sprite.svg#checkbox")
                    p.format-list__text практический опыт
                li.format-list__item
                    svg.format-list__icon
                        use(xlink:href="img/svg/sprite.svg#checkbox")
                    p.format-list__text новые карьерные </br> возможности
            p.new-format__desc.new-format__desc--bottom Участникам необходимо разработать и/или интегрировать свои <b>цифровые решения</b>
