section.section-possibility
    .container
        h2.section__title.section__title--white.section__title--possibility Возможности Олимпиады
        .possibility
            .possibility__item
                h3.possibility__title Для участников
                ul.possibility-list
                    li.possibility-list__item
                        p.possibility-list__text Денежные призы и гранты
                    li.possibility-list__item
                        p.possibility-list__text Интересные проекты
                    li.possibility-list__item
                        p.possibility-list__text Новые знания и практический опыт
                    li.possibility-list__item
                        p.possibility-list__text Живое общение с экспертами
                    li.possibility-list__item
                        p.possibility-list__text Профессиональное it-сообщество
            .possibility__item
                h3.possibility__title Для учреждений и наставников
                ul.possibility-list
                    li.possibility-list__item
                        p.possibility-list__text Образовательные программы
                    li.possibility-list__item
                        p.possibility-list__text Срез знаний студентов
                    li.possibility-list__item
                        p.possibility-list__text Престиж учебного заведения
                    li.possibility-list__item
                        p.possibility-list__text Демонстрация профподготовки студентов
                    li.possibility-list__item
                        p.possibility-list__text Новые контакты
