section.promo-section
    .container
        .promo-wrapper
            ul.promo-list
                li.promo-list__item
                    a.promo-list__link(href="") Интернет вещей (Internet of Things)
                li.promo-list__item
                    a.promo-list__link(href="") Большие данные (Big Data)
                li.promo-list__item
                    a.promo-list__link(href="") Информационная безопасность
                li.promo-list__item
                    a.promo-list__link(href="") Автоматизированное тестирование
                li.promo-list__item
                    a.promo-list__link(href="") DevOps

            ul.promo-list
                li.promo-list__item
                    a.promo-list__link(href="") Программирование
                li.promo-list__item
                    a.promo-list__link(href="") Web-дизайн
                li.promo-list__item
                    a.promo-list__link(href="") 3D - моделирование
                li.promo-list__item
                    a.promo-list__link(href="") Искусственный интеллект
                li.promo-list__item
                    a.promo-list__link(href="") Робототехника и ПО для роботов

            ul.promo-list
                li.promo-list__item
                    a.promo-list__link(href="") AR & VR
                li.promo-list__item
                    a.promo-list__link(href="") Облачные технологии
                li.promo-list__item
                    a.promo-list__link(href="") Умный дом/город
                li.promo-list__item
                    a.promo-list__link(href="") Data Science
        h2.promo-section__title Для разных секторов экономики
        .promo-box
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-1")
                p.promo-box__content Информационные <br/> технологии
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-2")
                p.promo-box__content Здравоохранение
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-3")
                p.promo-box__content Финансовый </br> сектор
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-4")
                p.promo-box__content Коммуникационные <br/> технологии
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-5")
                p.promo-box__content Коммунальные </br> услуги
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-6")
                p.promo-box__content Промышленный </br> сектор
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-7")
                p.promo-box__content Потребительский </br> сектор
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-8")
                p.promo-box__content Недвижимость
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-9")
                p.promo-box__content Энергетика
            .promo-box__item
                .promo-box__pic
                    svg.promo-box__icon
                        use(xlink:href="img/svg/sprite.svg#promo-10")
                p.promo-box__content Сырьевой </br> сектор

