section.section.screen-1
    .container
        .content-box
            .content-box__item.content-box__item--video
                video.video(src='img/video/2020_vid.mp4' autoplay muted poster="img/video.png")
                    source(src='img/video/2020_vid.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

                .socials
                    h2.socials__title Присоединяйтесь
                    ul.socials-list
                        li.socials-list__item
                            a(href="").socials-list__link vk
            .content-box__item.content-box__item--content
                p.content-box__desc XIII международная олимпиада в сфере информационных технологий «IT-Планета»
                p.content-box__small Открыта регистрация для учебных заведений
                button(type="button").content-box__btn.btn.btn--white Зарегистрироваться
                .content-box__text
                    svg.content-box__icon
                        use(xlink:href="img/svg/sprite.svg#qwe")
                    p.content-box__copy При нажатии на кнопку регитсрации Вы будете переведены на платформу Braim
