section#screen-1.section.screen-1
    .container
        .content-box
            .content-box__item.content-box__item--video
                video.video(src='img/video/vid.mp4' autoplay muted loop poster="img/video.png")
                    source(src='img/video/vid.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

                .socials
                    h2.socials__title Присоединяйтесь
                    ul.socials-list
                        li.socials-list__item
                            a(href="").socials-list__link.socials-list__link--vk vk
                                svg.socials-list__icon.socials-list__icon--vk
                                    use(xlink:href="img/svg/sprite.svg#vk")
                        li.socials-list__item
                            a(href="").socials-list__link.socials-list__link--facebook facebook
                                svg.socials-list__icon.socials-list__icon--facebook
                                    use(xlink:href="img/svg/sprite.svg#facebook")
                        li.socials-list__item
                            a(href="").socials-list__link.socials-list__link--youtube
                                svg.socials-list__icon.socials-list__icon--youtube youtube
                                    use(xlink:href="img/svg/sprite.svg#youtube")
                        li.socials-list__item
                            a(href="").socials-list__link.socials-list__link--insta
                                svg.socials-list__icon.socials-list__icon--insta instagram
                                    use(xlink:href="img/svg/sprite.svg#insta")
            .content-box__item.content-box__item--content
                h1.content-box__desc XIII международная олимпиада в сфере информационных технологий «IT-Планета»
                p.content-box__small Открыта регистрация для учебных заведений
                button(type="button").content-box__btn.btn.btn--dark Зарегистрироваться
                .content-box__text
                    .content-box__icon
                        svg
                            use(xlink:href="img/svg/sprite.svg#qwe")
                    p.content-box__copy При нажатии на кнопку регистрации Вы будете переведены на платформу Braim
