section.section.section-steps
    .container
        h2.section__title.section__title--steps Этапы соревнований
        .steps
            .steps__item.steps__item--active
                .steps__head
                    p.steps__date 1 Декабря — 31 января
                    span.steps__small Текущий этап
                .steps__body
                    span.steps__count 1
                .steps__footer
                    p.steps__desc Регистрация учебных </br> заведений профессионального </br> образования
            .steps__item
                .steps__head
                    p.steps__date 1 февраля - 31 марта
                    span.steps__small Текущий этап
                .steps__body
                    span.steps__count 2
                .steps__footer
                    p.steps__desc Регистрация участников </br> и первый отборочный этап
                    p.steps__desc.steps__desc--blue Решение простых кейсов и </br> задач
            .steps__item
                .steps__head
                    p.steps__date 10 - 25 апреля
                    span.steps__small Текущий этап
                .steps__body
                    span.steps__count 3
                .steps__footer
                    p.steps__desc Основной этап </br> соревнований
                    p.steps__desc.steps__desc--blue Решение усложненных </br> задач и/или защита </br> проектов, онлайн-школа
            .steps__item
                .steps__head
                    p.steps__date 1 - 31 мая
                    span.steps__small Текущий этап
                .steps__body
                    span.steps__count 4
                .steps__footer
                    p.steps__desc Финал
                    p.steps__desc.steps__desc--blue Защита итоговых </br> решений/проектов
